h3 {
  /* display: block; */
  font-size: 24px;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  font-weight: 520;
  display: flex;
  padding-left: 40px;
}

.category-caret-right {
  width: 24px;
  height: 24px;
  padding-top: 4px;
}

.category-header-wrapper {
  /* display: flex; */
  cursor: pointer;
}
